/*** Common code ***/

*,
*::before,
*::after { box-sizing: border-box; }

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  width:100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/*** BTN ***/
.btn {
  display: inline-block;
  background: transparent;
  border: 2px solid #2c3238;
  border-radius: 4px;
  padding: 10px 20px;
  color: #2c3238;
  font-size: 20px;
  cursor: pointer;
  line-height: 28px;
}

.btn:hover {
  background: #2196f3;
  color: white;
  border-color: #2196f3;
}

.btn > * {
  font-size: 28px;
  margin: 0 10px 0 0;
}
  

.btn + .btn { margin-left: 15px; }

/*** Header Part ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  
}

header .logo {
  width: 30%;
  float: left;
  padding: 20px 0;
}

header nav {
  width: 70%;
  float: right;
}

header ul {
  padding: 30px 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

header li {
  display: inline-block;
  margin: 0 10px;
}

header li a {
  color: #dadada;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  padding: 12px 10px;
  letter-spacing: 2px;
}

header li a::after {
  content: "\0020";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #00da97;
  opacity: 0;
  transition: all 300ms;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

header li a:hover,
header li a.active { color: white; }

header li a:hover::after,
header li a.active::after {
  opacity: 1;
  bottom: 0;
}

header li.alternate a::after {
  background: #ff0000;
  bottom: auto;
  top: -8px;
}

header li.alternate a:hover::after,
header li.alternate a.active::after {
  opacity: 1;
  bottom: auto;
  top: -3px;
}

/*** Hero Part ***/

.hero {
  position: relative;
  padding: 200px 100px;
  overflow: hidden;
  
}

.hero::before {
  content: "\0020";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: livingBG 6s alternate infinite;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: top right;

}

@keyframes livingBG {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1.05) rotate(2deg); }
}

.hero .left {
  width: calc(50% - 50px);
  float: left;
  margin-left: 50px;
  padding: 150px 0;
}

.hero .left h1 {
  position: relative;
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  color: #2c3238;
  margin-bottom: 20px;
}

.hero .left h1::before {
  content: "\0020";
  display: block;
  width: 50px;
  height: 3px;
  background: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
}

.hero .left h1 em {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  position: relative;
}

.hero .left h1 em::after {
  content: "\0020";
  display: block;
  height: 20%;
  width: 0;
  background: #2196f3;
  opacity: 0.3;
  position: absolute;
  bottom: 18px;
  left: -5px;
  transition: all 300ms;
  z-index: -1;
}

.hero .left:hover h1 em::after { width: calc(100% + 10px); }

.hero .left p {
  font-size: 28px;
  color: #2c3238;
  margin: 0 0 100px;
}

.hero .right {
  width: calc(50% - 100px);
  float: right;
  margin-right: 50px;
  text-align: right;
}

.hero .right img {
  display: inline-block;
}

/*** bas de page 1 ***/

.center::before {
  content: "\0020";
  display: block;
  width: 50px;
  height: 3px;
  background: #2196f3;
  position: absolute;
  top: 1280px;
  left: 50%;
  right: 50%;
  margin: auto;
  
}

.bas-de-page-1{


  
  margin-bottom: 10%;
}

.bas-de-page-1 h2{

text-align: center;
font-size: 30px;
  
}

/*** 3 cases ***/
.trois-cases .container{

text-align: center;

}


 .Article{
   padding-left:550;
   padding-right:550;
   width: 300px;
   height: 200px;
   display: inline-block;
   text-align: justify;
   border: 1px solid transparent;
   letter-spacing: normal;
   word-spacing: normal;
   line-height: 30px;
 }
 
 .Article:hover{
   border: 5px transparent;
 }
 
 .Article+Article{
   margin-left: 50px;
 }
 
 
 
 .Article .h2{
   font-size: 18px;
   color: #494753;
   letter-spacing: 20px;

 }

Article:hover{

border: 5px grey outset;
 

}



/*** 1er footer***/

 .first-footer {
text-align: center;

margin-top: 100px;
 }

 .first-footer p{

  font-size: 15px;
  text-align:center,justify;
  line-height: 40px;
 }


 .first-footer img{

 margin-top: 50px;
 }


/*** pillule gauche ***/


.block-left{

 
  padding: 200px 0; 
  display: block;
  float: left;
}

.block-right{

  display: block;
    float: right;
    width: 45%;
    padding-top: 320px;

    padding-right: 200px;
    padding-bottom: 100px;
 
    text-align: left;
}

.block-right p{

  line-height: 25px;
}

.boutton-see-demo {
  display: inline-block;
  background: blue;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 4px 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  line-height: 28px;
}

.boutton-see-demo > * {
  font-size: 20px;
  margin: 0 10px 0 0;
  transition: all 300ms;

}

.boutton-see-demo-cont{
padding-top: 50px;
}
.under-text {
  position: absolute;
  display: block;
  float: none;
padding-top: 45%;
padding-right: 100px;
padding-left: 590px;
z-index: 1;
}

.under-text::before {

  content: "\0020";
  display: block;
  width: 50px;
  height: 3px;
  background: #2196f3;
  position: absolute;
  margin-left: 320px;


}

.under-text h3 {
  font-size: 30px;
  text-align: center;
}



.bas-de-page-2{

padding-left: 307px;
padding-top: 100px;
padding-bottom: 100px; 

}

/*** pillule droite ***/


.second-block-left{


  display: block;
    float:left;
    padding-top:300px;
    margin-left: 372px;
    text-align: left;
    overflow:hidden;

}

.second-block-left p{

line-height: 25px;

}

.boutton-get-started {
  display: inline-block;
  background: blue;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 4px 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  line-height: 28px;
}

.boutton-get-started > * {
  font-size: 20px;
  margin: 0 10px 0 0;
  transition: all 300ms;

}

.get-started-cont{
  padding-top: 50px;
  }
.second-block-right{

  display: block;
  float: right;
  padding-top: 100px;
  overflow:hidden;
}


.second-under-text{

position: absolute;
display: block;
float: none;
padding-top: 34.5% ;
padding-right: 530px;
padding-left: 530px;
margin-top:140px;
margin-bottom:-700px;
z-index:1;
overflow:hidden;
}

.second-under-text h3{
  font-size: 17px;
  text-transform: uppercase;
  padding-top:50px ;

}

.second-under-text p{

line-height: 35px;
  
}

/*** Bas de page 3***/
.trust-block { width: 100%; }
.trust-container {
  width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
  margin-top: 60%;
}
.trust-container::after {
  content: "";
  display: block;
  clear: both;
}
.trust-block .price {
  background: white;
  width: 33%;
  float: left;
  text-align:left;
  padding: 2px 30px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.trust-block .bulletpoints {
  width: 67%;
  float: left;
  padding: 0px 70px;
  overflow: hidden;
}
.trust-block .bulletpoints .bullet-item {
  text-align: center;
  width: 50%;
  float: left;
  margin: 10px 0;
}

.trust-block h3 {
 font-size:40px;
 margin-left:40px;
}

.trust-block h4 {
 font-size:20px;
 margin-left: 40px;
}


.trust-block span {
 float:right;
 margin-top: 20px;
color: #2196f3;
font-size: 20px;
 
}


.bulletpoints h5{
  font-size: 20px;

  margin-bottom:0;
}
  
.bulletpoints p{

  text-align: center;
  line-height:25px;
}
  

.price img {

margin-right:20px;
}


/*** footer ***/

.footer_final {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  background-image: url(../img/pillule-footer.png);
  background-repeat: no-repeat;
}

.footer_final a{text-decoration: none;}

.footer_final h3{
  font-family: "Montserrat", sans-serif;
  color: white;
}

.footer_final ul{color: #8f9092;}

.footer_final .container{
  
  margin-left:400px;
  
  }




.fin_page{
  text-align: center;
  margin-left:31px;
}

.unitfive{

  width:150px;
  height: 220px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 35px;
}

.unitfive h3{

font-size: 15px;

}

.unitfive a{
color:white;

}
.resources{
  width:150px;
  height: 220px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 35px;
}

.resources h3{

  font-size: 15px;
  
  }

.resources a{

color: white;
}

.company{
  width:150px;
  height: 220px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 35px;
}

.company h3{

  font-size: 15px;
  
  }

.company a{

  color: white;

}

.newsletter{
  float: right;
  width:570px;
  height: 220px;
  padding-left:30px;
  padding-right:30px;
  margin-left: 200px;
  margin-right: 20px;
  text-align: left;
  border : 1px solid white;
border-top-left-radius: 15px;
border-top-right-radius: 15px; 
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
 
}

.newsletter h3{
  margin-top: 35px;
  font-size: 20px;
  color: #00da97;
}

.newsletter p{
  margin-top: 35px;
  margin-bottom: 50px;
  color:white;
}

.boutton-newsletter {
  position: relative;
  display: inline-block;
  background: #00da97;
  border: #00da97;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  line-height: 28px;
  width: 150px;
  height: 30px;
  margin-bottom:200px;
  
}

.boutton-newsletter > * {
  transition: all 300ms;
  width: 30px;
}

.newsletter-cont{
  float: right;
  margin-right:120px;
  }


.copyright {
  height: 80px;
  background-color:white;
  text-align: left;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
}

.copyright .left{
float:left;
}

.copyright .centre{

text-align:center;
float:left;
width:33%;
padding:10px 0;
margin-left:300px;
}

.copyright .right{

  float:left;
  padding:10px 0;
  text-align:right;
  width:30%;
}
.copyright p{
  position: relative;
  margin: 0;
  top: 30px;
}

.copyright span{
  color: #4f9ee0;
}


.right li{
  display:inline-block;
  width:33px;
}

.footer_final li {
  list-style-type: none;
}

.footer_final ul{
  padding: 0;
}